html {
  scroll-behavior: smooth;
  width: 100%;
}

header {
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    font-size: 35px;
    padding: 10px;
    font-variant: small-caps;
    background-image: url(https://i.pinimg.com/originals/0b/06/39/0b06397a3199bee4a5922ee4488ebf5a.jpg);
}

img {
  border-radius: 50%;
  border: 5px solid white;
}

body {

    background-color: rgb(25, 25, 29);
    background-image: url(https://i.pinimg.com/originals/0b/06/39/0b06397a3199bee4a5922ee4488ebf5a.jpg);
    margin-left: auto;
    margin-right: auto;

  }

.topnav {
    background-color: rgb(19, 26, 66);
    overflow: hidden;
  }
  
  .topnav a {
    font-variant: small-caps;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    color: #f2f2f2; 
    
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .aboutme {
    background-color: rgba(245, 245, 245, 0.521);
    color: white;
    border: 15px solid white;
    text-align: center;
    font-variant: small-caps;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin: auto;
    margin-left: 200px; 
    margin-right: 200px;
    border-radius: 20%;
    margin-top: 100px;
  }
  
  .box {
    
    height: 430px;
    margin: auto;
    margin-left: 200px; 
    margin-right: 200px;
    padding-top: 7px;

  }

  .projects {

    background-color:rgba(245, 245, 245, 0.521);
    width: 300px;
    border: 15px solid white;
    padding: 50px;
    margin: 15px;
    border-radius: 15%;
    margin: auto;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    color: white;
    font-variant: small-caps;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-top: 200px;
    

  }

  .willWeatherImage {
    border: white;
  }

  .contactme {
    background-color:rgba(245, 245, 245, 0.521);
    width: 300px;
    border: 15px solid white;
    padding: 20px;
    margin: 10px;
    border-radius: 15%;
    margin: auto;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    color: white;
    font-variant: small-caps;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-top: 200px;
    padding-top: 20px;
    padding-bottom: 10px;
    
  }

  .fa-linkedin {
    padding: 10px;
    font-size: 100px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }
.icons {
  font-size: 36px;
}

  footer {
    text-decoration: none;
    font-size: 20px;
    font-variant: small-caps;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    height: 30px;
    margin-top: 100px;
    color: white;
    background-color: rgb(19, 26, 66)
    
  }
  .fa-twitter {
    padding: 10px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }

  .fa-github {
    padding: 10px;
    font-size: 100px;
    width: 30px;
    text-align: center;
    text-decoration: none; 
  }
